.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 75vw;
  padding: 2rem;
  margin: 2vw auto;
  background-color: rgba(255, 255, 255, 0.90);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.425);
  border-radius: 20px;
  z-index: 10;
}

.about-title{
  text-align: center;
  padding-bottom: 2.5rem;
}

.about-title h2{
  font-size: 2rem;
  margin-bottom: 0;
}

.about-title p{
  font-size: 1.75rem;
}

sup{
  font-size: 1.5rem;
  font-weight: 600;
}

.about-grid{
  display: flexbox;
  flex-direction: column;
  padding: 1rem;
  gap:7rem;
}

.about-cols {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.iconcan {
  position: relative;
  min-width: 20px;
  width: 3vw;
  left: 1.2rem;
}

.icons {
  width: 2vw;
  min-width: 20px;
}

.about-item{
  text-align: left;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* .about-item:hover{
  color: rgba(0, 0, 0);
  transform: scale(1.05);
} */

.about-item h3{
  font-size: 1.5rem;
  font-weight: 600;
  
}

.about-item p{
  font-size: 1.3rem;
}


.about-description {
  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 12px;
  padding: 1rem;
  transition: transform 0.3s ease, color 0.3s ease;
  justify-self: center;
}

@media (max-width:600px) {
  .about-section{
    width: 85vw;
    display:flex;
    justify-content: center;
  }

  .about-container{
    width: 85vw;
  }
  /* .about-grid{
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3, auto); 
    gap: 10vw;
  } */
}

/* Dark Mode Styling */
[data-theme="dark"] .about-container {
  background-color: rgba(10, 10, 10, 0.9); /* Dark mode background with 90% opacity */
}

[data-theme="dark"] .about-description {
  color: #ecececef; /* Light text color for dark mode */
}

[data-theme="dark"] .about-item {
  transition: transform 0.3s ease, color 0.3s ease;
}

/* [data-theme="dark"] .about-item:hover {
  color: rgb(255, 255, 255); 
  transform: scale(1.05); 
} */
