.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 75vw;
  max-width: 1100px;
  padding: 2rem;
  margin: 2vw auto;
  background-color: rgba(255, 255, 255, 0.70);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.425);
  border-radius: 1.5rem;
  z-index: 10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.about-title{
  text-align: center;
}

.about-title h1{
  font-size: clamp(2.0rem, 2.0rem, 2rem);  /* property: clamp(MIN, PREFERRED, MAX); */
  font-weight: 400;
  background: linear-gradient(to right, #a78bfa, #60a5fa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* For non-webkit browsers */
  text-shadow:
    0 1px 6px #a78bfa33,   /* lighter, softer purple glow */
    0 1px 10px #60a5fa22;  /* lighter, softer blue glow */
}

.about-subtitle {
  font-size: 1.15rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.5rem;
   opacity: 0.85;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: 1fr;               /* 1 row */
  gap: 3rem;                             /* space between columns */
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
}

.about-item{
  cursor: pointer;
  border-radius: 1.25rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(3, 3, 3, 0.198);
  transition: transform 0.5s ease, color 0.5s ease;
}

.about-item:hover {
   transform: scale(1.05);
   background-color: #0067e7;
   color: white;
}

/* Change icon color when parent .about-item is hovered */
.about-item:hover .about-icon {
  filter: brightness(0) invert(1);
}

.about-cols {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto 10px; /* Centers and spaces the icon */
  justify-content: center;
  margin-bottom: 0.5rem;
}

.iconcan {
  /* position: relative; */
  width: 40px;
  height: 40px;
  /* left: 1.2rem; */
}

.about-icon {
  width: 40px;
  height: 40px;
}

.about-item{
  text-align: left;
  transition: transform 0.3s ease, color 0.3s ease;
}

.about-item h3{
  font-size: 1.5rem;
  font-weight: normal;
  
}

.about-item p{
  font-size: 1.1rem;
  text-align: center;
   opacity: 0.85;
}

/* Dark Mode Styling */
[data-theme="dark"] .about-container {
  background-color: rgba(10, 10, 10, 0.70); /* Dark mode background with 75% opacity */
}

[data-theme="dark"] .about-description {
  color: #ecececef; /* Light text color for dark mode */
}

[data-theme="dark"] .about-item {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.752);
  transition: transform 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] .about-icon {
  filter: brightness(0) invert(1); 
}


/* Responsive: stack vertically on mobile */
@media (max-width: 900px) {
  .about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
  }
}

@media (max-width:600px) {
  .about-section{
    width: 85vw;
    display:flex;
    justify-content: center;
  }

  .about-container{
    width: 85vw;
  }

  .about-title h1{
    font-size: 1.5rem;
  }

  .iconcan {
    left: 0rem;
  }

  .about-cols{
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .about-item{
    text-align: center;
    margin-bottom: 1rem;
  }

}





