.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 95vw;
  padding: 1rem;
  margin: 2vw auto;
<<<<<<< Updated upstream
  background-color: rgba(255, 255, 255, 0.77);
  box-shadow: 0 4px 12px rgba(3, 3, 3, 0.198);
  border-radius: 8px;
=======
  background-color: rgba(255, 255, 255, 0.90);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.425);
  border-radius: 20px;
>>>>>>> Stashed changes
  z-index: 10;
}

.about-title{
  text-align: center;
  padding-bottom: 2rem;
}

.about-title h2{
  font-size: 2rem;
  margin-bottom: 0;
}

.about-title p{
  font-size: 1rem;
}

sup{
  font-size: 1.5rem;
  font-weight: 600;
}

.about-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */;
  padding: 1rem;
  gap:4rem;
}

.about-item{
  text-align: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

.about-item:hover{
  color: rgba(0, 0, 0);
  transform: scale(1.05);
}

.about-item h3{
  font-size: 1.5rem;
  font-weight: 600;
  
}

.about-item p{
  font-size: 1.3rem;
}


.about-description {
  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 12px;
  padding: 1rem;
  transition: transform 0.3s ease, color 0.3s ease;
  justify-self: center;
}

@media (max-width:600px) {
  .about-section{
    width: 85vw;
    display:flex;
    justify-content: center;
  }

  .about-container{
    width: 85vw;
  }
  .about-grid{
    grid-template-columns: 1fr; /* Change to 1 column */
    grid-template-rows: repeat(3, auto); /* Make it 3 rows */
    gap: 10vw;
  }

  

}

/* Dark Mode Styling */
[data-theme="dark"] .about-container {
<<<<<<< Updated upstream
  background-color: rgba(10, 10, 10, 0.77); /* Dark mode background with 50% opacity */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.752);
=======
  background-color: rgba(10, 10, 10, 0.9); /* Dark mode background with 85% opacity */
>>>>>>> Stashed changes
}

[data-theme="dark"] .about-description {
  color: #ecececef; /* Light text color for dark mode */
}

[data-theme="dark"] .about-item {
  transition: transform 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] .about-item:hover {
  color: rgb(255, 255, 255); /* Bright text on hover */
  transform: scale(1.05); /* Slight zoom effect */
}
