.header {
  position: fixed;
  top: 0;
  background-color: var(--background);
  color: var(--foreground);
  box-shadow: 0 4px 12px rgba(3, 3, 3, 0.198);
  z-index: 11;
  width: 100vw;
}

.header-container {
  margin: 0 auto;
  padding: 1rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-links .active-start-project {
  background-color: #0067e7;
}

.nav-link.active {
  color: #0067e7;
}

.logo-light {
  display: block;
  padding-left: 1.5rem;
}

.logo-dark {
  display: none;
}

/* Add these styles to your Header.css */

.theme-toggle-container {
  position: relative;
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.theme-toggle-input {
  display: none;
}

.slider {
  position: relative;
  width: 70px;
  height: 34px;
  background-color: #0067e7;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(3, 3, 3, 0.198);
}

.theme-toggle-input:checked+.slider {
  background-color: #3f37c9;
}

.slider-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.sun {
  left: 8px;
}

.moon {
  right: 8px;
  opacity: 0;
}

.theme-toggle-input:checked+.slider .moon {
  opacity: 1;
  right: 8px;
}

.theme-toggle-input:checked+.slider .sun {
  opacity: 0;
  left: 8px;
}



@media (min-width: 600px) {

  .logo {
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
  }

  .mobile-menu {
    display: none;
  }

  .nav-links a {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 15px;
    transition: color 0.3s ease;
  }

  .nav-links a:hover {
    color: #0067e7;
  }

  .menu-button {
    transition: color 0.3s ease;
  }

  .menu-button:hover {
    color: #0067e7;
    outline: none;
  }

  .mob-right-nav {
    display: none;
  }
}

/* Show mobile button on smaller screens, 600px is standard practice */
@media (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .mob-right-nav {
    position: fixed;
    right: 0;
    top: 0;
    background: #0067e7;
    height: fit-content;
    width: 50vw;
    z-index: 2;
    transform: translateX(100%);
    will-change: transform;
    /* Optimize rendering */
    overflow-x: hidden;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
    border-radius: 20px 0 0 20px;
  }

  .mob-right-nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 4rem;
    width: 90vw;
    max-width: 100vw;
  }

  .mob-right-nav a {
    text-decoration: none;
    background: #0067e7;
    padding: 0.5rem 1rem;
    display: block;
    color: white;
  }

  .mob-right-nav a:hover {
    text-decoration: underline;
  }

  .mob-right-nav .start-project-li {
    font-weight: bolder;
  }

  .mob-right-nav .theme-toggle-container {
    display: flex;
    left: 1rem;
    margin-top: 10px;
  }

  .open-nav {
    transform: translateX(0%);
  }

  .theme-toggle-container {
    display: none;
  }

  /* -- MOBILE MENU -- */
  .mobile-menu {
    transition: transform 0.5s;
    cursor: pointer;
    z-index: 10;
    position: relative;
    left: 5vw;
  }

  .mobile-menu .line-1,
  .mobile-menu .line-2,
  .mobile-menu .line-3 {
    border-top: 3px solid #000;
    display: block;
    transition: margin 0.5s, transform 0.5s;
    width: 35px;
  }

  .mobile-menu .line-2 {
    margin: 10px 0;
  }

  .mobile-menu.toggle {
    transform: rotateX(180deg);
  }

  .mobile-menu.toggle .line-1 {
    transform: rotate(45deg);
  }

  .mobile-menu.toggle .line-2 {
    margin: -3px 0;
    opacity: 0;
  }

  .mobile-menu.toggle .line-3 {
    transform: rotate(-45deg);
  }
}

/* Switch to dark mode styles */
[data-theme="dark"] .logo-light {
  display: none;
}

[data-theme="dark"] .logo-dark {
  display: block;
  padding-left: 1.5rem;
}

[data-theme="dark"] .header {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.752);
}

[data-theme="dark"] .nav-links a:hover {
  color: #0067e7;
}

[data-theme="dark"] .nav-links .active-start-project {
  background-color: #0067e7;
}

[data-theme="dark"] .mobile-menu .line-1,
[data-theme="dark"] .mobile-menu .line-2,
[data-theme="dark"] .mobile-menu .line-3 {
  border-top: 3px solid #fff;
}