/* Use page.css for page-wide styles (like heights, padding, flex layouts, and alignment)
and things that affect multiple components (like section spacing or overall layout). 
If a component (e.g., Tagline, About, etc.) needs internal styles—like fonts, colors, 
or component-specific padding—it’s better to define those in separate CSS files within 
the component folder. */

/* Main home page styling */
.home-page {
  position: relative; /* For positioning child elements */
}

/* Content container to layer on top of background */
.content-wrapper {
  z-index: 2; /* Ensures content stays above background */
}

/* Styling for each section */
.page-section {
  height: 100vh;
  display: flex;
  align-items: center;
}

/* Fade-in effect for elements that scroll into view */
.fade-section {
  opacity: 0;
  transition: opacity 0.7s ease, transform 0.6s ease;
}

.fade-section.visible {
  opacity: 1;
}

/* Background with cloud effect for the page */
.background-cloudy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none; /* Keeps background unclickable */

  /* Light mode gradient effect */
  background: radial-gradient(circle at 20% 30%, rgba(240, 248, 255), transparent 60%),
              radial-gradient(circle at 80% 70%, rgba(230, 247, 255), transparent 60%),
              /* radial-gradient(circle at 50% 50%, rgba(143, 110, 251, 0.156), transparent 60%), */
              #ffffff;
}

/* Desktop-specific layout for aligning sections */
@media (min-width: 600px) {
  .page-section.align-right {
    justify-content: flex-end;
  }

  .page-section.align-left {
    justify-content: flex-start;
  }
}

@media (max-width:600px) {
  .page-section{
    height: inherit;
    display: flex;
    justify-content: center;
  }

  #about{
    margin-bottom: 15vh;
  }

  #services{
    margin-bottom: 15vh;
  }

  #team{
    margin-bottom: 5vh;
  }

  #contact{
    margin-bottom: 5vh;
  }
}

/* Dark mode adjustment for smoother blending */
[data-theme="dark"] .background-cloudy {
  background: radial-gradient(
      circle at 100% 70%, 
      rgba(109, 36, 255, 0.418), 
      transparent 50%
    ),
    radial-gradient(
      circle at 20% 30%, 
      rgba(122, 82, 252, 0.222), 
      transparent 40%
    ),
    radial-gradient(
      circle at 50% 50%, 
      rgba(143, 110, 251, 0.156), 
      transparent 60%
    ),
    #000000;
}


