.footer-container {
  background-color: var(
    --background
  );
  color: var(--foreground);
  padding: 20px 0;
  position: relative;
  z-index: 10;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-sections {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.socials-icons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
  order: -1; /* Move above the text */
  z-index: 500;
}

:root {
  --icon-color: #000000; /* Light mode */
}

[data-theme="dark"] {
  --icon-color: #ffffff; /* Dark mode override */
}

.socials-icons a {
  color: var(--icon-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

.socials-icons a:hover {
  color: #0067e7;
  transform: scale(1.2);
}

.rights-text {
  flex-basis: 100%;
}
