.section-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 75vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: var(--foreground);
  border-radius: 8px;
  box-sizing: border-box;
  z-index: 1;
  opacity: 1;
  caret-color: transparent;
  margin-bottom: 10vh;
  text-align: center;
}


/* Headings */
.section-wrapper h1,
.section-wrapper h2 {
  font-size: clamp(1.8rem, 1.8rem, 2rem);
  font-weight: bold;
  text-align: start;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Paragraphs */
.section-wrapper p{
  font-size: 1rem;
  line-height: 1.6;
  opacity: 1;
  text-align: center;
}

/* List Styling */
.section-wrapper ul,
.section-wrapper ol {
  padding-left: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.section-wrapper li {
  margin-bottom: 1rem;
  text-align: center;
}

/* Media Query for Mobile */
@media (max-width: 600px) {

  .section-wrapper {
    width: 85vw;
  }
}
