.section-wrapper {
  /* width: 90%; */
  max-width: 1200px;
  margin: 0 0 0 auto; /* Push to the right */
  margin-right: 5vw;
  padding: 2rem;
  background-color: rgb(255, 255, 255, 0.70);
  color: var(--foreground);
  box-shadow: 0 4px 12px rgba(3, 3, 3, 0.198);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1; 
  opacity: 1;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.section-wrapper:first-of-type {
  margin-top: 20vh; /* Add spacing under navbar */
}

.section-wrapper + .section-wrapper {
  margin-top: 5rem; /* Add spacing between sections */
}

/* Apply shared layout styles to all section wrappers */
.section-wrapper--custom-padding,
.section-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 50vw;
  box-sizing: border-box;
  caret-color: transparent;
}

.section-wrapper--custom-padding > div,
.section-wrapper > div {
  width: 50vw;
  max-width: 700px;
  box-sizing: border-box;
  padding: 1.5rem;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  background-color: rgba(255, 255, 255, 0.75);
  color: var(--foreground);
  box-shadow: 0 4px 12px rgba(3, 3, 3, 0.198);
  border-radius: 8px;
  z-index: 10;
}

/* Headings */
.section-wrapper h1,
.section-wrapper h2,
.section-wrapper--custom-padding h1,
.section-wrapper--custom-padding h2 {
  font-size: clamp(1.8rem, 1.8rem, 2rem);
  font-weight: bold;
  text-align: start;
  margin-bottom: 1.5rem;
}

/* Paragraphs */
.section-wrapper p,
.section-wrapper--custom-padding p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  opacity: 1;
}

/* List Styling */
.section-wrapper ul,
.section-wrapper ol {
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.section-wrapper li {
  margin-bottom: 1rem;
}

.section-wrapper--faq{
  margin-bottom: 10vh;
}

/* Media Query for Mobile */
@media (max-width: 600px) {
  .section-wrapper,
  .section-wrapper--custom-padding {
    width: 85vw;
  }

  .section-wrapper > div,
  .section-wrapper--custom-padding > div {
    width: 85vw;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Dark Mode */
[data-theme="dark"] .section-wrapper{
    background-color: rgba(10, 10, 10, 0.70); 

}

[data-theme="dark"] .section-wrapper > div,
[data-theme="dark"] .section-wrapper--custom-padding > div {
  background-color: rgba(10, 10, 10, 0.75);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
}

.section-wrapper:nth-child(15) {
  width: 90vw;
  max-width: 100%;
}

.section-wrapper--no-padding {
  padding: 0 !important;
}
