.tagline-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  box-sizing: border-box;
  caret-color: transparent;
}

.tagline-container {
  width: 50vw;
  box-sizing: border-box;
  padding: 1.5rem;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  background-color: rgb(255, 255, 255, 0.9);
  color: var(--foreground);
  box-shadow: 0 4px 12px rgba(3, 3, 3, 0.198);
  border-radius: 8px;
  z-index: 10;
}

/* Tagline Title */
.tagline-title {
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-weight: bold;
  text-align: start;
  margin-bottom: 1.5rem;
}

/* Tagline Description */
.tagline-description {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  opacity: 0.85;
}

/* Button alignment */
.tag-buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

/* Learn More Button */
.learn-more-button {
  padding: 0.75rem 1.5rem;
  width: fit-content;
  background-color: #03045e;
  color: rgb(245, 245, 245);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.15s ease, transform 0.15s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.learn-more-button:hover {
  background-color: #0067e7;
  color: rgb(255, 255, 255);
  transform: translateY(-2px);
}

@media (max-width:600px) {
  .tagline-section {
    width: 85vw;
  }

  .tagline-container {
    width: 85vw;
    margin-left:0vw;
    margin-right: 0vw;
  }
}

/* Dark Mode Styling */
@media (prefers-color-scheme: dark) {
  .tagline-container {
    background-color: rgb(10, 10, 10, 0.9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.752);
    /* Dark mode background with 50% opacity */
  }

  .learn-more-button {
    background-color: #3f37c9;
    color: #ffffff;
  }

  .learn-more-button:hover {
    background-color: #0067e7;
  }

}

