.contact-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.contact-popup-content {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 350px;
  text-align: center;
}

.contact-popup-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  transition: color 0.2s;
}

.close-btn:hover {
  color: #0067e7;
}

.save-contact-button {
  padding: 0.75rem 1.5rem;
  width: fit-content;
  background: linear-gradient(to right, #9333ea, #3b82f6);
  color: rgb(245, 245, 245);
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.15s ease, transform 0.15s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: none;
  box-shadow: 0 4px 20px rgba(96,165,250,0.18);
}

.save-contact-button:hover {
  background-color: #0067e7;
  color: rgb(255, 255, 255);
  transform: translateY(-2px);
}

@media (max-width:600px) {
  .save-contact-button {
    display: block;
  }
}

/* Dark Mode Styling */
[data-theme="dark"] .contact-popup-overlay {
  background: rgba(255, 255, 255, 0.7);
}

[data-theme="dark"] .contact-popup-content {
  background: rgb(0, 0, 0);
  color: #ffffff;
}

[data-theme="dark"] .save-contact-button {
  background-color: #3f37c9;
  color: #ffffff;
}

[data-theme="dark"] .save-contact-button:hover {
  background-color: #0067e7;
  color: #ffffff;
}

[data-theme="dark"] .close-btn {
  color: #fff;
}

[data-theme="dark"] .close-btn:hover {
  color: #60a5fa;
}