.services-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: visible;
  display: grid;
  grid-template-columns: auto;
  color: var(--foreground);
  box-sizing: border-box;
  caret-color: transparent;
}




.service-card {
  position: absolute;
  right: 3rem;
  top: 21%;
  width: 45%;
  height: 70vh;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transition: transform 1s ease, opacity 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  opacity: 0;
  z-index: 1;
}

.service-card.software {
  background-color: #8fd4e1;  
}

.service-card.web {
  background-color: #b7e5ed; 
}

.service-card.mobile {
  background-color: #c7ecf3; 
}

.service-card.cloud {
  background-color: #d6eef3; 
}

.service-card.active {
  box-shadow: 2px 3px 20px rgba(3, 3, 3, 0.198);
  /* transition: transform 1s ease-in-out;  */
}

.service-label {
  display: none;
  /* opacity: 0; */
  position: absolute;
  padding-top: 1rem;
  padding-bottom: 1rem;
  left: 3rem;
}

/* .service-card.software .service-label {
  width: 5vw;
} */

.card-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 
}

.service-title {
  display: none;
  position: relative;
  padding: 1rem;
  font-size: 1.5rem;
  align-self: center;
  /* font-weight: 500; */
}

.service-icon {
  display: none;
  /* padding: 0.5rem; */
}

.service-text {
  position: relative;
  display: block;
  /* top: 7rem; */
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.service-card.above,
.service-card.below {
  cursor: pointer;
}

.service-card.above .service-label {
  display: block;
  bottom: 0;
  /* opacity: 1; */
}

.service-card.above .service-icon {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  transform: scale(0.5);
}

.service-card.active .service-title {
  display: block;
  align-self: center;
  /* top: 1rem; */
}

.service-card.active .service-icon {
  position: relative;
  display: block;
  transform: scale(1);
  /* top: 3.5rem; */
}

.service-card.below .service-label {
  display: block;
  top: 0;
  /* opacity: 1; */
}

.service-card.below .service-icon {
  position: absolute;
  display: block;
  left: 0;
  transform: scale(0.5);
}

.service-card.software.above,
.service-card.web.above,
.service-card.mobile.above,
.service-card.web.below,
.service-card.mobile.below,
.service-card.cloud.below {
  opacity: 0.9 ;
}

.service-card.software.above:hover {
  transform: translate(-30%, -70%) rotate(-2deg) scale(0.95) !important;
}

.service-card.web.above:hover {
  transform: translate(-40%, -87%) rotate(-7deg) scale(0.95) !important;
}

.service-card.mobile.above:hover {
  transform: translate(-50%, -100%) rotate(-12deg) scale(0.95) !important;
}

.service-card.software.above {
  transform: translate(-30%, -77%) rotate(-5deg) scale(0.9) !important;
  z-index: 2 ;
}

.service-card.web.above {
  transform: translate(-40%, -90%) rotate(-10deg) scale(0.9) !important;
  z-index: 3 ;
}

.service-card.mobile.above {
  transform: translate(-50%, -103%) rotate(-15deg) scale(0.9) !important;
  z-index: 4;
}

.service-card.active {
  transform: translate(0%, 0%) scale(1) !important;
  opacity: 1;
  z-index: 10;
}

.service-card.cloud.below {
  transform: translate(-30%, 77%) rotate(5deg) scale(0.9) !important;
  z-index: 1 ; 
}

.service-card.mobile.below {
  transform: translate(-40%, 90%) rotate(10deg) scale(0.9) !important;
  z-index: 2 ;
}

.service-card.web.below {
  transform: translate(-50%, 103%) rotate(15deg) scale(0.9) !important;
  z-index: 3;
}

.service-card.web.below:hover {
  transform: translate(-50%, 100%) rotate(12deg) scale(0.95) !important;
}

.service-card.mobile.below:hover {
  transform: translate(-40%, 87%) rotate(7deg) scale(0.95) !important;
}

.service-card.cloud.below:hover {
  transform: translate(-30%, 70%) rotate(2deg) scale(0.95) !important;
}

/* .service-card.no-hover:hover {
  transform: none !important;
} */

/* Disable hover styles for touch devices */
@media (hover: none) {
  .service-card.above:hover,
  .service-card.below:hover {
    transform: none !important;
  }
}

/* Dark Mode Styling */
@media (prefers-color-scheme: dark) {
  .service-card.software {
    background-color: #250649;  
  }
  
  .service-card.web {
    background-color: #1a043d; 
  }
  
  .service-card.mobile {
    background-color: #16043e; 
  }
  
  .service-card.cloud {
    background-color: #161349; 
  }
  
  .service-card.active {
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.752);
  }
}

@media (max-width:600px) {
  .service-card {
    right: 1rem;
    top: 13%;
    width: 60%;
    height: 70vh;
  }

  .service-text {
    font-size: 1rem;
  }

  .service-card.software.above:hover {
    transform: translate(-60%, -72%) rotate(-2deg) scale(0.95) !important;
  }
  
  .service-card.web.above:hover {
    transform: translate(-70%, -82%) rotate(-7deg) scale(0.95) !important;
  }
  
  .service-card.mobile.above:hover {
    transform: translate(-80%, -93%) rotate(-12deg) scale(0.95) !important;
  }

  .service-card.software.above {
    transform: translate(-60%, -72%) rotate(-5deg) scale(0.9) !important;
  }
  
  .service-card.web.above {
    transform: translate(-70%, -82%) rotate(-10deg) scale(0.9) !important;
  }
  
  .service-card.mobile.above {
    transform: translate(-80%, -93%) rotate(-15deg) scale(0.9) !important;
  }
  
  .service-card.cloud.below {
    transform: translate(-60%, 72%) rotate(5deg) scale(0.9) !important;
  }
  
  .service-card.mobile.below {
    transform: translate(-70%, 82%) rotate(10deg) scale(0.9) !important;
  }
  
  .service-card.web.below {
    transform: translate(-80%, 93%) rotate(15deg) scale(0.9) !important;
  }

  .service-card.web.below:hover {
    transform: translate(-80%, 93%) rotate(12deg) scale(0.95) !important;
  }
  
  .service-card.mobile.below:hover {
    transform: translate(-70%, 82%) rotate(7deg) scale(0.95) !important;
  }
  
  .service-card.cloud.below:hover {
    transform: translate(-60%, 72%) rotate(5deg) rotate(2deg) scale(0.95) !important;
  }
}