.services-section {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  background-color: rgb(255, 255, 255, 0.9);
  color: var(--foreground);
  box-shadow: 0 4px 12px rgba(3, 3, 3, 0.198);
  border-radius: 8px;
  z-index: 10;
  caret-color: transparent;
}

.services-title {
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.services-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(250px, 1fr));
  gap: 1.5rem;
}

.service-box {
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(3, 3, 3, 0.198);
  cursor: pointer;
  transition: transform 0.5s, background-color 0.5s;

}

.service-box:hover{
  background-color: #0067e7;
  transform: scale(1.05);
}

.service-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
  text-align: center;
  transform: background-color 0.5s;
}


.service-description {
  font-size: 0.9rem;
  text-align: center;
  transform: background-color 0.5s;
}


.service-icon {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 10px; /* Centers and spaces the icon */
  transform: filter 0.5s;
}



/* Hover styles */
.service-box:hover {
  background-color: #0067e7; 
}

.service-box:hover .service-icon {
  filter: brightness(0) invert(1); 
}

.service-box:hover .service-name {
  color: #ffffff; 
}

.service-box:hover .service-description {
  color: #ffffff; 
}

@media (max-width:600px) {
  .services-section {
    width: 85vw;
  }

}

@media (prefers-color-scheme: dark) {
  .services-section {
    background-color: rgba(10, 10, 10, 0.9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
  }

  .service-box {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.752);
  }

  .service-icon{
    filter: brightness(0) invert(1); 
  }
}
