.contact-container {
  width: 50vw;
  box-sizing: border-box; 
  padding: 1rem; 
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  background-color: rgb(255, 255, 255, 0.9);
  color: var(--foreground);
  box-shadow: 0 4px 12px rgba(3, 3, 3, 0.198);
  border-radius: 8px;
  opacity: 0.95; 
  z-index: 10;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: clamp(2rem, 2.5vw, 3rem); /* Responsive font scaling */
  font-weight: bold; 
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #03045e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.15s ease, transform 0.15s ease;
  margin-top: 0.5rem;
}

.submit-button:hover {
  background-color: #0067e7;
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .contact-container{
    width: 85vw;
    margin-bottom: 10vh;
  }
  
}

/* Dark Mode Styling */
[data-theme="dark"] .contact-container {
  background-color: rgba(10, 10, 10, 0.9); /* Dark mode background with 90% opacity */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.752);
}

[data-theme="dark"] .submit-button {
  background-color: #3f37c9;
}

[data-theme="dark"] .submit-button:hover {
  background-color: #0067e7;
}

[data-theme="dark"] .name-textarea,
[data-theme="dark"] .email-textarea,
[data-theme="dark"] .message-textarea {
  color: black; /* Text color inside textareas */
}
