.gradient-background {
    z-index: 0;
}


.faq-question {
    font-weight: 700;
    font-size: large;
}

.section-wrapper--faq .faq {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-wrapper--faq .faq__header h2 {
  margin: 0 0 0.25rem 0;
  font-size: 1.6rem;
  letter-spacing: -0.01em;
  color: var(--foreground, #081024);
}
@import "../../styles/faq.css";